:root {
  /* --- COLORES BASE (MODO CLARO POR DEFECTO) --- */
  --fondo-app: #ffffff;
  --texto-app: #000000;
  --azul-marca: #3b82f6;
  --azul-oscuro: #e2e8f0;
  --rojo-error: #ff3b30;
}

/* --- MODO OSCURO (TU DISEÑO BRUTAL) --- */
.dark {
  :root {
    --fondo-app: #000000;           /* Negro total */
    --texto-app: #ffffff;           /* Blanco puro */
    --azul-marca: #3b82f6;          /* Azul brillante */
    --azul-oscuro: #1e293b;         /* Azul medianoche */
    --rojo-error: #ff3b30;          /* Rojo alerta */
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --fondo-app: #000000;           /* Negro total */
    --texto-app: #ffffff;           /* Blanco puro */
    --azul-marca: #3b82f6;          /* Azul brillante */
    --azul-oscuro: #1e293b;         /* Azul medianoche */
    --rojo-error: #ff3b30;          /* Rojo alerta */
  }
}